body {
    text-align: center;
    font-family: sans-serif;
    color: #555;
}
a {
    color: #757070;
    transition: 0.2s ease;
}
a:hover {
    opacity: 0.85;
}
.overlay {
    position: fixed;
    background: RGBa(0,0,0,0.5);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    transition: 0.2s ease;
    opacity: 1;
    display: none;
}
.overlay .popup {
    position: absolute;
    background: #d6d6d6;
    width: 20%;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    box-shadow: 0 0 30px #222;
    display: none;
}
.overlay .popup .heading {
    font-weight: 100;
    margin: 0;
    font-size: 25px;
}
.overlay .popup .info {
    font-size: 13px;
}
.overlay .popup .optgroup {
    display: flex;
    margin-top: 10px;
}
.overlay .popup .optgroup input {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    left: -9999px;
    top: -9999px;
}
.overlay .popup .optgroup .opt,
.overlay .popup .pgn-container #copy-pgn {
    flex-grow: 1;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s background ease;
    border: none;
    background: transparent;
    color: #444;
    font-size: 15px;
    outline: none;
}
.overlay .popup .optgroup .opt:hover, 
.overlay .popup .submit:hover,
.overlay .popup .pgn-container #copy-pgn:hover {
    color: #4a6b4a;
    background: #ccc;
}
.overlay .popup .optgroup input:checked + .opt {
    background: #4a6b4a;
    color: #ccc;
}
.overlay .popup .submit {
    margin-top: 10px;
    font-size: 20px;
    outline: none;
    background: transparent;
    border: none;
    color: #555;
    cursor: pointer;
    padding: 5px 10px;
}
.overlay .popup .submit:active {
    box-shadow: inset 0 0 5px #777;
}
.overlay .popup .pgn-container {
    position: relative;
}
.overlay .popup .pgn-container #pgn-all {
    font-size: 13px;
    padding: 5px;
    width: calc(100% - 10px);
    display: block;
    height: 200px;
    background:  transparent;
    text-align: left;
    border: none;
    resize: vertical;
    color: #444;
    outline: none;
}
.overlay .popup .pgn-container #copy-pgn {
    display: block;
    margin: auto;
    padding: 3px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: 0.2s opacity ease;
}
.overlay .popup .pgn-container #pgn-all:hover + #copy-pgn,
.overlay .popup .pgn-container #copy-pgn:hover {
    opacity: 1;
}
.main {
    color: #777;
    font-weight: 100;
}
#cg {
    width: 500px;
    height: 500px;
    overflow: hidden;
}
.board {
    width: 500px;
    margin: auto;
}
.player-bar {
    background: #e4e4e4;
    font-weight: 400;
    padding-left: 10px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
}
.player-bar:first-child {
    border-radius: 5px 5px 0 0;
}
.player-bar:not(:first-child) {
    border-radius: 0 0 5px 5px;
}
.player-bar .player, .player-bar .clock {
    display: block;
}
.player-bar .player {
    float: left;
    font-size: 20px;
}
.player-bar .clock {
    float: right;
    background: #fff;
    padding: 0 20px;
}
.player-bar .clock.tick {
    background: #eee;
}
